body {
    background-color: #80c71f;
    color: #474f52;

}
h1{
    background-color: #c64fbd;
}
.nawigacja{
    display: flex;
    gap: 30px;
    background-color: #c64fbd;
    
}
img{
    height: 300px;
}